<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-nav></app-nav>
 <app-banner-rotativo></app-banner-rotativo> 
<!-- <app-banner></app-banner> -->
<app-title-text></app-title-text>
<app-banner-hover></app-banner-hover>
<app-banner2-hover></app-banner2-hover>
<app-carousel></app-carousel>
<app-footer></app-footer>