<div class="div1">
    <div class="csslider">
        <h1 class="title">Lançamentos Montblanc</h1>
        <input type="radio" name="slides" id="slides_1" checked />
        <input type="radio" name="slides" id="slides_2" />
        <input type="radio" name="slides" id="slides_3" />
        <!-- <input type="radio" name="slides" id="slides_4" /> -->
        <input type="radio" name="slides" id="slides_N" />
        <ul>
            <li>
                <div class="divimg">
                    <img class="img" src="../../assets/cadernodeanotacoes.jpg">
                </div>
            </li>
            <li>
                <div class="divimg">
                    <img class="img" src="../../assets/fineliner.jpg">
                </div>
            </li>
            <li>
                <div class="divimg">
                    <img class="img" src="../../assets/caneta_starwalker.jpg">
                </div>
            </li>
            <li>
                <div class="divimg">
                    <img class="img" src="../../assets/paper_montblanc.jpg">
                </div>
            </li>
            <!-- <li>Content of slide 5</li> -->
        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <!-- <label for="slides_4"></label> -->
            <label for="slides_N"></label>
        </div>
        <div class="navigation">
            <div>
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <!-- <label for="slides_4"></label> -->
                <label for="slides_N"></label>
            </div>
        </div>

    </div>