/* You can add global styles to this file, and also import other style files */
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"),
    url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"),
    url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"),
    url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwaPGR_p.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"),
    url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.reset {
  margin: 0;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gold .fillColor {
  fill: #7d5609;
}

.gold .fillStroke {
  stroke: #7d5609;
}

.gold .ringColorGradient {
  fill: url(#ring-gradient-gold);
}

.gold .mainColorGradient {
  fill: url(#gold-gradient);
}

.gold .color-gradient-a {
  fill: url(#color-gradient-gold);
}

.gold .color-gradient-b {
  fill: url(#color-gradient-gold-2);
}

.gold .shape-lines {
  stroke: #dbcaa5;
}

.silver .fillColor {
  fill: #313131;
}

.silver .fillStroke {
  stroke: #3e3e3e;
}

.silver .ringColorGradient {
  fill: url(#ring-gradient-silver);
}

.silver .mainColorGradient {
  fill: url(#silver-gradient);
}

.silver .color-gradient-a {
  fill: url(#color-gradient-silver);
}

.silver .color-gradient-b {
  fill: url(#color-gradient-silver-2);
}

.silver .shape-lines {
  stroke: #c5c5c5;
}

.clock {
  position: absolute;
  top: 6px;
  left: 5px;
  -webkit-animation: fadein 1s forwards;
  -moz-animation: fadein 1s forwards;
  -ms-animation: fadein 1s forwards;
  -o-animation: fadein 1s forwards;
  animation: fadein 1s forwards;
}

.clock-rolex-logo-text {
  margin-top: 2px;
}

.logo {
  position: absolute;
  top: 16px;
  left: 69px;
  -webkit-animation: fadein 1s forwards;
  -moz-animation: fadein 1s forwards;
  -ms-animation: fadein 1s forwards;
  -o-animation: fadein 1s forwards;
  animation: fadein 1s forwards;
  width: 80px;
  text-align: center;
}

.minutes,
.hours,
.seconds {
  transform-origin: center;
  display: block;
  width: 58px;
  height: 58px;
  position: absolute;
  top: 6px;
  left: 5px;
}
#seconds {
  -webkit-transition: rotate 0.1s linear;
  -moz-transition: rotate 0.1s linear;
  -o-transition: rotate 0.1s linear;
  transition: rotate 0.1s linear;
}

.wrapper {
  max-width: 200px;
  width: 100%;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block !important;
}

/* Carousel */


.title-text {
  /*width: 100vw;
  height: 100vh;*/
  margin-top: 01%;
  margin-left: 30%;
  margin-right: 30%;
 
}

.div1 {
  align-items: center;

}

.div1 > h1 {
  position: relative;
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
}

.div2 {
  /* padding: 5%;
  bottom: 0; */
  align-items: center;
}

.div2 > p {
  position: relative;
  margin-right: 05%;
  margin-left: 05%;
  text-align: center;

}
