<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row content-center">
        <div class="col-md-6" style="text-align: right">
          <h2>
            <i class="far fa-envelope" style="line-height: 40px"></i>
            <small style="float: right"
              >NEWSLETTER | Cadastre seu e-mail e receba novidades e
              promoções.</small
            >
          </h2>
        </div>
        <div class="col-md-4">
          <div
            class="wd-marketing-newsletter wd-widget-js"
            data-widget-js='{ "handler": "MarketingNewsletter", "options": {} }'
          >
            <!-- BEFORE -->
            <div class="wd-marketing-newsletter wd-widget">
              <div class="wd-header">
                <span class="wd-icon"></span>
                <div class="wd-title"></div>
                <!-- HEADER -->
              </div>
              <div class="wd-content">
                <!-- CONTENT -->
                <form
                  method="POST"
                  action="/Newsletter"
                  novalidate="novalidate"
                >
                  <div class="form-wrapper">
                    <p>Cadastre-se e receba ofertas exclusivas.</p>
                    <div class="input-wrapper input-name-marketing-newsletter">
                      <label for="newsletter-name-wd67">Nome:</label>
                      <input
                        type="text"
                        name="Name"
                        id="newsletter-name-wd67"
                        value=""
                        maxlength="100"
                        class="clear-default-value"
                        autocomplete="off"
                      />
                    </div>
                    <div class="input-wrapper input-email-marketing-newsletter">
                      <label for="newsletter-email-wd67">Email:</label>
                      <input
                        type="text"
                        name="Email"
                        id="newsletter-email-wd67"
                        value=""
                        maxlength="150"
                        class="clear-default-value"
                        autocomplete="off"
                      />
                      <input type="hidden" name="OptIn" value="true" />
                      <input
                        type="hidden"
                        name="AllowReceiveNewsletter"
                        value="true"
                      />
                    </div>
                    <div
                      class="input-wrapper input-button-marketing-newsletter"
                    >
                      <i class="loading"></i> <button>Cadastrar</button>
                    </div>
                  </div>
                </form>
                <script>
                  var baseUrl = "/";
                </script>
              </div>
              <div class="wd-footer">
                <span class="wd-icon"></span>
                <!-- FOOTER -->
              </div>
            </div>
            <!-- AFTER -->
          </div>
        </div>
        <div class="col-md-2 footer-social">
          <div class="footer-social-wrapper">
            <div>
              <h2><small>JOIN US</small></h2>
            </div>
            <div class="footer-social-icons">
              <a
                href="https://www.facebook.com/arrais.shop"
                target="_blank"
                class="facebook"
              >
                <i class="fab fa-facebook"></i>
              </a>
              <a
                href="https://www.instagram.com/arrais.shop"
                target="_blank"
                class="instagram"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row content-center padding8-desk">
      <div class="cms-page-menu col col-md-8 col-lg-8 footer-category">
        <div class="row">
          <div class="col cms-page col-md-6 col-12">
            <h2>
              <small
                ><strong class="section-title">Institucional</strong></small
              >
            </h2>
            <div id="cw1732213978_1" class="wd-page-menu">
              <!-- BEFORE -->
              <div class="wd-page-menu wd-widget">
                <div class="wd-header">
                  <span class="wd-icon"></span>
                  <div class="wd-title"></div>
                  <!-- HEADER -->
                </div>
                <div class="wd-content">
                  <!-- CONTENT -->
                  <ul>
                    <li class="root page-institucional">
                      <a href="/conteudo/institucional" title="Institucional"
                        >Institucional</a
                      >
                      <ul>
                        <li class="page-institucional-prazo-de-entrega">
                          <a
                            href="/conteudo/institucional/prazo-de-entrega"
                            title="Prazo de Entrega"
                            target=""
                            >Prazo de Entrega</a
                          >
                        </li>
                        <li class="page-institucional-politica-de-privacidade">
                          <a
                            href="/conteudo/institucional/politica-de-privacidade"
                            title="Política de Privacidade"
                            target=""
                            >Política de Privacidade</a
                          >
                        </li>
                        <li class="page-institucional-trocas-e-devolucoes">
                          <a
                            href="/conteudo/institucional/trocas-e-devolucoes"
                            title="Trocas e Devoluções"
                            target=""
                            >Trocas e Devoluções</a
                          >
                        </li>
                        <li class="page-institucional-embalagens">
                          <a
                            href="/conteudo/institucional/embalagens"
                            title="Embalagens"
                            target=""
                            >Embalagens</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="wd-footer">
                  <span class="wd-icon"></span>
                  <!-- FOOTER -->
                </div>
              </div>
              <!-- AFTER -->
            </div>
          </div>
          <div class="col cms-page col-md-6 col-12">
            <h2>
              <small><strong class="section-title">Dúvidas</strong></small>
            </h2>
            <div id="cw2021835814_1" class="wd-page-menu">
              <!-- BEFORE -->
              <div class="wd-page-menu wd-widget">
                <div class="wd-header">
                  <span class="wd-icon"></span>
                  <div class="wd-title"></div>
                  <!-- HEADER -->
                </div>
                <div class="wd-content">
                  <!-- CONTENT -->
                  <ul>
                    <li class="root page-tire-suas-duvidas">
                      <a
                        href="/conteudo/tire-suas-duvidas"
                        title="Perguntas Frequentes"
                        >Perguntas Frequentes</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="wd-footer">
                  <span class="wd-icon"></span>
                  <!-- FOOTER -->
                </div>
              </div>
              <!-- AFTER -->
            </div>
            <br />
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-4 col-lg-4 central-atendimento">
        <h2>
          <small
            ><strong class="section-title alignleft"
              >Central de relacionamento</strong
            ></small
          >
        </h2>
        <p>Preparada para esclarecer suas dúvidas e problemas</p>
        <div class="phone col col-12">
          <span>
            <a href="tel:+55 (15) 99696 6789">SAC: +55 (15) 99696 6789</a>
          </span>
        </div>
        <div class="email col col-12">
          <span>
            <a href="mailto:sac@arrais.shop">SAC: sac@arrais.shop</a>
          </span>
          <span>
            <a href="mailto:assistencia@arrais.shop"
              >Assistência: assistencia@arrais.shop</a
            >
          </span>
        </div>
        <div class="horario col col-12">
          <small
            ><strong>Horário de atendimento:</strong>Seg. a Sex. / 08h -
            18h</small
          >
        </div>
        <div class="certificados">
          <div class="col col-md-6 col-lg-6 col-sm-6 col-12">
            <strong class="section-title">Segurança:</strong>
            <div class="shields">
              <a href="https://www.linxcommerce.com.br/" class="logo-creator"
                ><img
                  src="https://d6wi4h7fyhjc9.cloudfront.net/Custom/Content/Themes/SiteArrais/Imagens/logo-clear.png?lll"
                  style="width: auto !important"
                  alt="Plataforma Core"
              /></a>
            </div>
          </div>
          <div class="col col-md-6 col-lg-6 col-sm-6 col-12">
            <strong class="section-title">Plataforma:</strong>
            <div class="shields">
              <a href="https://www.linxcommerce.com.br/" class="logo-creator"
                ><img
                  src="https://d6wi4h7fyhjc9.cloudfront.net/Custom/Content/Themes/SiteArrais/Imagens/logo-linxcommerce-rodape.png?lll"
                  style="width: auto !important"
                  alt="Plataforma Core"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="wd-error-summary-wrapper wd-widget wd-widget-js"
    data-widget-js='{ "handler": "ErrorSummary", "options": {} }'
    data-mode="modal"
  ></div>
  <script id="ResponseErrorTmpl" type="text/x-tmpl">
    <div class="wd-error-summary">         <div>             <b>Verifique os erros abaixo:</b>         </div>         <ul>                          {{#Errors}}             <li>{{ErrorMessage}}</li>             {{/Errors}}                      </ul>     </div>
  </script>
  <div class="assinatura">
    <div class="row aboutme align-items-center">
      <div
        class="text col col-lg-5 col-md-5 col-sm-5 col-12 text-center linesmall"
      >
        <small
          >Copyright © 2020 - Arrais Shop. Todos os direitos reservados. -
          <br />
          Desenvolvimento -
          <a href="https://agenciasepia.com" target="_blank"
            >Agência Sepia</a
          ></small
        >
      </div>
      <div class="text col col-lg-7 col-md-7 col-sm-7 col-12 text-center">
        <small
          >Av. Gisele Constantino, 1.850, (Iguatemi Esplanada - Entrada Ala Sul)
          - Votorantim-SP | CNPJ: 11.198.584/0001-78</small
        >
      </div>
    </div>
  </div>
</footer>
