<div class="div1">
  <section class="carousel">
    <!-- <input type="checkbox" id="toggle"> -->
    <!-- <label for="toggle" onclick>pausar</label> -->
    <div class="paineis">
        <article class="page1"><img src="../../assets/banner_rotativo_01.jpg" alt=""></article>
        <article class="page2"><img src="../../assets/banner_rotativo_02.PNG" alt=""></article>
        <article class="page3"><img src="../../assets/banner_rotativo_01.jpg" alt=""></article>
        <article class="page4"><img src="../../assets/banner_rotativo_02.PNG" alt=""></article>
        <article class="page5"><img src="../../assets/banner_rotativo_01.jpg" alt=""></article>
    </div>
  </section>
</div>
